<style>
	ul.items{
    display: inline-block;
	}
	li{
		display:inline-block;
	}
.delete-button {
	border: none;
	outline: none;
	background:none;
  	margin: 0;
    display: inline;
	color:red;
	font-size: 20px;
}
</style>
{% extends 'layouts/main.html' %}
{% block title %}Fyyur | Artists{% endblock %}
{% block content %}
<ul class="items">
	{% for artist in artists %}
	<li>
		<a href="/artists/{{ artist.id }}">
			<i class="fas fa-users"></i>
			<div class="item" data-id="{{ artist.id }}">
				<h5>{{ artist.name }}</h5>
			</div>
		</a>
	</li>
	<button class="delete-button" data-id="{{ artist.id }}">&cross;</button>
	<br/>
	{% endfor %}
</ul>
<script>
	const deleteBtns = document.querySelectorAll('.delete-button');
	var lst = document.getElementsByClassName("item")
for (let i = 0; i < deleteBtns.length; i++) {
	const btn = deleteBtns[i];
	btn.onclick = function(e) {
	const artistId = e.target.dataset['id'];
	  fetch('/artists/' + artistId, {
		method: 'DELETE'
	  })
	  .then(function() {
		const item = e.target;
		item.remove();
		lst[i].remove();
	  })
  }
}
</script>
{% endblock %}