<style>
	ul.items{
    display: inline-block;
	}
	li{
		display:inline-block;
	}
.delete-button {
	border: none;
	outline: none;
	background:none;
  	margin: 0;
    display: inline;
	color:red;
	font-size: 20px;
}
</style>
{% extends 'layouts/main.html' %}
{% block title %}Fyyur | Venues{% endblock %}
{% block content %}
{% for area in areas %}
<h3>{{ area.city }}, {{ area.state }}</h3>
	<ul class="items">
		{% for venue in area.venues %}
		<li>
			<a href="/venues/{{ venue.id }}">
				<i class="fas fa-music"></i>
				<div class="item">
					<h5>{{ venue.name }} [Upcoming Shows: {{venue.num_upcoming_shows}}]
					</h5>
				</div>
			</a>
		</li>
		<button class="delete-button" data-id="{{ venue.id }}">&cross;</button>
		<br/>
		{% endfor %}
	</ul>
{% endfor %}
<script>
	const deleteBtns = document.querySelectorAll('.delete-button');
	var lst = document.getElementsByClassName("item")
for (let i = 0; i < deleteBtns.length; i++) {
	const btn = deleteBtns[i];
	btn.onclick = function(e) {
	  const venueId = e.target.dataset['id'];
	  fetch('/venues/' + venueId, {
		method: 'DELETE'
	  })
	  .then(function() {
		const item = e.target;
		item.remove();
		lst[i].remove();
	  })
	}
  }
</script>
{% endblock %}